@mixin property-with-rgba($property, $color, $opacity: 0.3) {
    #{$property}: $color; 
    #{$property}: rgba($color, $opacity);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* colors */
$orange: #d16428;
$green: #b0a86f;
$footerGrey: #59524d;
$topGrey: #796b61;
$navGrey: #8d7e73;

/* body */
$bodyBackground: #fff;
$bodyContentColor: #fff;

/* button colors */
$buttonColor: #fff;
$buttonBGColor: transparent;

$buttonHoverColor: #000;
$buttonHoverBGColor: transparent;

$buttonActiveColor: #fff;
$buttonActiveBGColor: #000;

/* article */
$bodyContentColor: #000;
$excerptColor: $green;

/* links */
$linkColor: $green;
$hoverColor: $orange;
$visitedColor: $orange;
$activeColor: #000;