/* selectors */
.selector { position: relative; margin: 0 0 10px; cursor: pointer; padding-right: 30px; display: inline-block; background: $green; }
.selector:hover { }
.selector:after { right: 10px; margin-top: -10px; color: #fff; left:auto; pointer-events: none; top: 50%; 
	/* arrow sprite */
	@extend .sprite-after:after;
	@extend .sprite-after.abs:after;
	@extend .sprite-after.arr-sm-down-white:after;
}
.twox .selector:after {
	@extend .twox.sprite-after:after;
}

.threex .selector:after {
	@extend .threex.sprite-after:after;
}

.selector:hover .value { }
.selector .value { display: block; padding: 9px 14px 8px; color: #fff; line-height: 1; font-family: $defaultFontStack; font-size: 16px; }
.selector select { position: absolute; top:0; left:0; right:0; bottom:0; width: 100%; height: 100%; opacity:0; background: transparent; cursor: pointer; z-index: 10;}
.ie8 .selector select { width: 100%; height: 100%; filter: alpha(opacity=0); }