/* colors */
$dateInputIconColor: transparent;

.date-input,
.date.input { position: relative; }
.touch .date-input input,
.touch .date.input input { opacity:0; filter: alpha(opacity=0); position: relative; z-index: 2;}
.touch .date-input span.input-label,
.touch .date.input span.input-label { position: absolute; top:0; left:0; right:0; bottom:0; padding: 8px; z-index: 1;}

.touch .hasdate.date-input input,
.touch .hasdate.date.input input,
.touch .date-input:hover input,
.touch .date.input:hover input { opacity:1; filter: alpha(opacity=100); }
.touch .hasdate.date-input span.input-label,
.touch .hasdate.date-input span.input-label,
.touch .date-input:hover span.input-label,
.touch .date-input:hover span.input-label { opacity:0; filter: alpha(opacity=0); }

.date.input,
.date-input { display: block; background: #fff; color: $bodyContentColor; position: relative; padding-left: 23px;}
.date.input:after,
.date-input:after { position: absolute; left:4px; top:3px; color: $dateInputIconColor; font-size: 18px;}
.date.input input,
.date-input input { border: none; background: none; padding: 8px; width: 100%;}