/* fonts */
@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

@include declare-font-face('Source Sans Pro','sourcesanspro-regular','../fonts/sourcesanspro/regular/');
@include declare-font-face('Source Sans Pro Italic','sourcesanspro-regular-italic','../fonts/sourcesanspro/regular/italic/');
@include declare-font-face('Source Sans Pro Bold','sourcesanspro-bold','../fonts/sourcesanspro/bold/');
@include declare-font-face('Source Sans Pro Bold Italic','sourcesanspro-bold-italic','../fonts/sourcesanspro/bold/italic/');
@include declare-font-face('Source Sans Pro Semibold','sourcesanspro-semibold','../fonts/sourcesanspro/semibold/');
@include declare-font-face('Source Sans Pro Semibold Italic','sourcesanspro-semibold-italic','../fonts/sourcesanspro/semibold/italic/');

$defaultFontStack: Source Sans Pro,helvetica,arial,sans-serif;
$italicFontStack: Source Sans Pro Italic,helvetica italic,arial italic,sans-serif;
$boldFontStack: Source Sans Pro Bold,helvetica bold,arial black,sans-serif;
$boldItalicFontStack: Source Sans Pro Bold Italic,helvetica bold italic,arial black italic,sans-serif;
$semiBoldFontStack: Source Sans Pro Semibold,helvetica bold,arial black,sans-serif;
$semiBoldItalicFontStack: Source Sans Pro Semibold Italic,helvetica bold italic,arial black italic,sans-serif;