/* footer */
footer { background-color: $footerGrey; border-top: 1px solid #c4bfba;}
footer .sw { overflow: hidden; }

footer .grid-wrap { overflow: hidden; margin: 0 -20px;}
footer .grid { padding: 20px 0; color: #bdaea4; background: url(../images/footer-embellish.png) right bottom no-repeat; }
footer .col:first-child { border: none; }
footer .col { border-left: 1px solid #50463f; 
	@include flex-direction(column);
	@include justify-content(center);
}
footer .col .item { padding: 20px; }

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; padding: 25px 0 0; background: url(../images/jac-we-create.png) 0 0 no-repeat; background-size: 186px 50px; 
	@include transition( background $ease-in-out-sine 0.15s );
}
#jac:hover { background-position: 0 bottom; }
.twox #jac { background-image: url(../images/jac-we-create@2x.png); }
.threex #jac { background-image: url(../images/jac-we-create@3x.png); }

.copyright { background-color: $orange; border-top: 1px solid #50463f; font-size: 12px; text-transform: uppercase; color: #fff; padding: 20px 0; cursor: default;}
.copyright a { color: #fff; }
.copyright a:hover { color: #eda470; }
.copyright li { display: inline-block; border-left: 1px solid #fff; margin-right: -0.25em; margin-left: 5px; padding-left: 5px; line-height: 1;}
.copyright li:first-child { margin-left:0; padding:0; border: none; }

.footer-contact .footer-logo { margin-bottom: 10px; }

.footer-nav li { width: 50%; float: left; display: block; margin: 3px 0;}
.footer-nav a { color: #bdaea4; }
.footer-nav a:hover { color: $green; }

.footer-book-appointment { text-align: center; }
.footer-book-appointment .button { margin-top: 10px; }