/* form stuff */
.single-form { position: relative; padding-right: 30px; background: #fff; max-width: 100%; border: 1px solid #e7e7e7; overflow: hidden;}
.single-form input { border: none; background: transparent; width: 100%; padding: 8px; position: relative; z-index: 4;}
.single-form button { position: absolute; right:4px; top:50%; margin-top: -12px; width: 30px; text-indent: -999px; border: none; background-color: transparent; z-index: 5;}
.single-form button:after { position: absolute; content:""; top:50%; left:0; right:0; margin: 0 auto; display: block;}

.body-form .field-wrap { display: block; background: #fff; border: 1px solid #dadada;}
.body-form .field-wrap.sprite-before:before { margin-left: 5px; margin-right: 0; }
.body-form .field-wrap input,
.body-form .field-wrap textarea { border: none !important; }
.body-form .field-wrap.sprite-before { padding-left: 30px; }

.body-form { max-width: 600px; }
.body-form input[type=text],
.body-form input[type=email],
.body-form input[type=password],
.body-form input[type=tel],
.body-form select,
.body-form textarea { font-size: 14px; color: #000; padding: 10px; width: 100%; display: block; margin: 0 0 5px; border: 1px solid #dadada; font-family: arial,helvetica,sans-serif; background: #fff;
	@include transition( background $ease-in-sine 0.15s ); 
	@include placeholder {
		color: #939393;
	}
}

.body-form .grid input[type=text],
.body-form .grid input[type=email],
.body-form .grid input[type=password],
.body-form .grid input[type=tel],
.body-form .grid textarea,
.body-form select { margin:0; }

.body-form textarea { height:126px; }
.body-form input[type=text]:focus,
.body-form input[type=email]:focus,
.body-form input[type=password]:focus,
.body-form input[type=tel]:focus,
.body-form textarea:focus {
	background: #fff; 
}