/* headings */
h1,h2,h3,h4,h5,h6 { line-height: 1.2; font-weight: normal; margin: 5px 0; font-family: $defaultFontStack;}

.hgroup { margin: 10px 0 26px; }
.hgroup h1,
.hgroup h2,
.hgroup h3,
.hgroup h4,
.hgroup h5,
.hgroup h6,
.hgroup span { margin:0; line-height: 1;}

h1,.h1-style,
h2,.h2-style,
h3,.h3-style,
h4,.h4-style,
h5,.h5-style,
h6,.h6-style { display: block; font-family: $boldFontStack; color: $green; text-transform: uppercase; }

.h1-style,
.page-title,
h1 { font-size: 32px; }
.h2-style,
h2 { font-size: 28px; }
.h3-style,
h3 { font-size: 24px; }
.h4-style,
h4 { font-size: 20px; }
.h5-style,
h5 { font-size: 18px; }
.h6-style,
h6 { font-size: 16px; }

.subtitle { display: block; font-family: $defaultFontStack; font-size: 18px; }

.article-title { text-transform: uppercase; font-size: 32px; }
.article-subtitle { text-transform: uppercase; font-size: 22px; }