@import "gmap";
@import "article";
@import "forms";
@import "accordion";
@import "custom_dropdown";
@import "responsive_video";
@import "social";
@import "hero";

.contact-box { line-height: 1; cursor: default; text-align: right;}
.contact-box .phone { font-family: $boldFontStack; font-size: 24px; color: $green; display: inline-block; vertical-align: middle; padding: 4px 12px 4px 4px; margin-right: 12px; border-right: 1px solid #c8c0ba;}
.contact-box .button { vertical-align: middle; padding: 6px 12px; }

/* logos */
.header-logo,
.footer-logo {
	@extend .replace;
	background-size: cover; 
	background: center no-repeat;
}

.header-logo { background-image: url(../images/sage-logo.png); width: 244px;  padding: 77px 0 0; background-size: cover; }
.twox .header-logo { background-image: url(../images/sage-logo@2x.png); }
.threex .header-logo { background-image: url(../images/sage-logo@3x.png); }

.footer-logo { background-image: url(../images/sage-logo-white.png); width: 167px; padding: 53px 0 0; background-size: cover; }
.twox .footer-logo { background-image: url(../images/sage-logo-white@2x.png); }
.threex .footer-logo { background-image: url(../images/sage-logo-white@3x.png); }

/* breadcrumbs */
.breadcrumbs { border: solid #e2decf; border-width: 1px 0; background-color: #eeece0; padding: 10px 0; cursor: default;}
.breadcrumbs a { display: inline-block; vertical-align: middle; font-size: 14px; color: $green; text-transform: uppercase; 
	@extend .sprite-before;
}
.breadcrumbs a:last-child { color: #918175; }
.breadcrumbs a:hover { color: #000; }
.breadcrumbs a:before {
	@extend .sprite-before.raquo:before;
}

/* header */
.header { border: solid #e2decf; border-width: 1px 0; background-color: #eeece0; padding: 10px 0; background: #f8f7f2; margin: 0 0 20px;}
.header .subtitle { text-transform: uppercase; }

/* address block */
.address-block { overflow: hidden; }
.address-block address,
.address-block .phones { width: 50%; float: left; }
.address-block .phones { text-align: right; }
.address-block .phones span { display: block; }

/* how can we help you */
.how-can-we-help { background: #f8f7f2; padding: 30px 0; border: solid #e7e5db; border-width: 1px 0; margin: 30px 0;}
.how-can-we-help .tab-swiper { background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.4); z-index: 1;}
.body+.how-can-we-help { margin-top: -1px; }
.how-can-we-help+footer { margin-top: -30px; }

.home .how-can-we-help { margin: 0; padding-bottom:0;}
.home .how-can-we-help .h1-style,
.home .how-can-we-help .section-subtitle { text-align: center; display: block; }
.home .how-can-we-help .toggle.button { display: none; }

.how-can-we-help.expanded .how-can-we-help-content,
.how-can-we-help.expanded .how-can-we-help-body,
.home .how-can-we-help-content,
.home .how-can-we-help-body { display: block; }
.how-can-we-help-content,
.how-can-we-help-body { display: none; }

.how-can-we-help .section-subtitle { display: none; }
.how-can-we-help .toggle.button { position: absolute; top: 50%; margin-top: -18px; right:0; padding-right: 32px; }
.how-can-we-help .toggle.button:after { margin-left: none; margin-right: 6px; left: auto; }

.how-can-we-help .section-subtitle,
.how-can-we-help .tab-swiper .content p,
.how-can-we-help .buttons { max-width: 95%; margin: 0 auto; width: 490px; }

.how-can-we-help .tabs-wrap { position: relative; z-index: 2; }
.how-can-we-help .tabs { display: table; width: 100%; border-collapse: collapse; margin-top: 30px; }
.how-can-we-help .tab { background-color: $green; color: #fff; display: table-cell; width: 33.3333%; padding: 8px 14px; text-align: center; cursor: pointer; border-left: 1px solid #fff; }
.how-can-we-help .tab-swiper .content .tab-title { display: none; color: $green; }
.how-can-we-help .tab:first-child { border-width:0; }
.how-can-we-help .tab-title { font-family: $boldFontStack; text-transform: uppercase; display: block; font-size: 24px; }
.how-can-we-help .tab-sub { display: block; font-size: 14px; }
.how-can-we-help .tab:hover { background-color: lighten($green,10%); }
.how-can-we-help .tab.active { background-color: #fff !important; color: $green;}

.how-can-we-help .tab-swiper .content { text-align: center; padding: 40px 0;}

.how-can-we-help .tab-swiper .content p { color: #000; padding-bottom: 15px; font-size: 18px; }

.how-can-we-help-results .error { padding: 20px 0; }

.how-can-we-help .buttons { width: 600px; cursor: default;}
.how-can-we-help .buttons .button { display: inline-block; margin: 0 10px 10px; padding:0; outline: none;}
.how-can-we-help .buttons .button.filter .sprite-after { background-color: #fff; border: 2px solid $green;}
.how-can-we-help .buttons .button.filter:hover .sprite-after { background-color: darken(#fff,5%); }
.how-can-we-help .buttons .button.filter.active .sprite-after { background-color: $green; }
.how-can-we-help .buttons .button.filter.active:hover .sprite-after { background-color: lighten($green,5%); }
.how-can-we-help .buttons .button .sprite-after { background-color: $green; display: inline-block; width: 80px; height: 80px; text-indent: -999em; overflow: hidden; border-radius: 40px; 
	@include transition( background-color 0.2s $ease-in-out-sine );
}
.how-can-we-help .buttons .button:hover .sprite-after { background-color: lighten($green,10%); 
	@include transition ( transform 0.25s $ease-out-back );
}
.how-can-we-help .buttons .button:active .sprite-after {
	@include transform ( scale(0.90,0.90) );
}
.how-can-we-help .buttons .button .text { display: block; color: #000; text-transform: none; font-size: 16px; margin-top: 5px; }

.how-can-we-help .ask-a-question form { background-color: #f6f6f6; padding-right: 56px; max-width: 95%; margin: 0 auto; width: 490px; }
.how-can-we-help .ask-a-question form input { padding: 14px; font-size: 18px; font-family: $defaultFontStack;}
.how-can-we-help .ask-a-question form button { background-color: $green; height: 100%; top:0; margin:0; right:0; width: 56px; }

.bubble { background-color: $green; display: inline-block; width: 80px; height: 80px; text-indent: -999em; overflow: hidden; border-radius: 40px; margin: 0 auto; display: block; }

/* services */
.blocks { padding: 30px 0; background: #f8f7f2;}
.blocks.on-white { background: #fff;}

.action-bar .count { font-family: $boldFontStack; color: $green; text-transform: uppercase; }
.action-bar .count .num { border-radius: 12px; line-height: 1; padding: 4px 8px; background: $orange; color: #fff; display: inline-block; } 

.action-bar .controls { display: none; }
.with-swiper .action-bar .controls { display: block; }

.action-bar { margin: 10px 0; overflow: hidden; position: relative; }
.blocks .action-bar .search-form { float: right; margin-left: 10px; }
.body .search-form button { top:0; right:0; width: 30px; bottom:0; margin:0; background-color: $green; }
.body .search-form button:hover { background-color: lighten($green,10); }
.action-bar .controls { float: right; margin-left: 10px; }
.action-bar .controls button { display: inline-block; margin: 0 1px; width: 32px; height: 32px; background: $green; border-radius: 16px; text-indent: -999em; overflow: hidden; }
.action-bar .controls button:hover { background-color: lighten($green,10); }
.action-bar .selector { float: right; }
.action-bar .view-all { position: absolute; top:0; right:0; }

.blocks .item { background: #fff; text-align: center; 
	@include display( flex );
}

.blocks.on-white .item { background: #f8f8f8;}

.blocks .block { padding: 20px 20px 80px; position: relative; width: 100%; display: block; color: #000; overflow: hidden;}
.blocks .img-wrap { height: 0; overflow: hidden; margin: -20px -20px 20px; position: relative; height: 150px; }
.blocks .img { background-size: cover; background-position: center; background-repeat: no-repeat; position: absolute; top:0; left:0; right:0; bottom:0; }
.blocks .title { color: $green; display: block; font-size: 22px; margin: 0 0 4px; }
.blocks .subtitle { margin: -4px 0 8px; }
.blocks .content .button { width: 100px; position: absolute; left:0; right:0; margin: 0 auto; bottom: 20px; }
.blocks .block.with-meta .content .button { position: static; }

.blocks .block.with-meta { padding-bottom: 80px; }
.blocks .block.with-meta .content .button { margin-top: 8px }
.blocks .block .meta { position: absolute; bottom:20px; left:20px; right: 20px; font-size: 12px; text-align: left; padding-top: 10px; border-top: 1px solid #dbd8cb;}
.blocks .block .meta .button { padding: 6px 12px; float: right; text-transform: none;}
.blocks .block .meta .meta-text { color: $green; }

.blocks .bubble { margin: 0 auto 20px; }

.blocks .img,
.blocks .bubble {
	@include transition( transform 0.4s $ease-in-out-sine );
}

.csstransitions .blocks .block:hover .bubble,
.csstransitions .blocks .block:hover .img { 
	@include transition-timing-function( $ease-out-back );
	@include transform ( scale( 1.25, 1.25 ) );
}
.blocks .block:hover .content .button { background-color: $orange; }

.blocks.list-view .col { width: 100%; max-width: 100% !important;}

.blocks.list-view .block,
.no-flexbox .blocks .block { text-align: left; padding-bottom:0; padding: 10px;}
.blocks.list-view .block .content .button,
.no-flexbox .blocks .block .content .button { position: static; width: auto; margin: 10px 0;}
.blocks.list-view .block .bubble-wrap,
.no-flexbox .blocks .block .bubble-wrap,
.blocks.list-view .block .img-wrap,
.no-flexbox .blocks .block .img-wrap { position: absolute; top: 0; left:0; width: 250px; bottom:0; margin:0; height: auto; padding:0;}

.blocks.list-view .block .img-wrap~div,
.no-flexbox .blocks .block .img-wrap~div { margin-left: 270px; }

.blocks.list-view .block .bubble-wrap,
.no-flexbox .blocks .block .bubble-wrap { width: 160px; }
.blocks.list-view .block .bubble,
.no-flexbox .blocks .block .bubble { display: inline-block; vertical-align: middle; margin:0;}

.blocks.list-view .block .meta,
.no-flexbox .blocks .block .meta { position: static; }

.no-flexbox .blocks .block .bubble-wrap~div,
.blocks.list-view .block .bubble-wrap~div { margin-left: 160px; }

.blocks.list-view .block .bubble-wrap,
.no-flexbox .blocks .block .bubble-wrap { text-align: center; }
.blocks.list-view .block .bubble-wrap:before,
.no-flexbox .blocks .block .bubble-wrap:before { content:""; display: inline-block; vertical-align: middle; height: 100%; }

/* callout */
.callout-wrap { max-width: 340px; width: 100%; margin-left: auto !important; margin-right: auto !important; position: relative; }
.callout { background: center no-repeat; background-size: cover; padding: 72.5% 0 0; height:0; overflow: hidden; }
.callout .content { position: absolute; top:0; left:0; right:0; bottom:0; padding: 20px; color: #fff; }
.callout .content .title { font-size: 32px; }
.callout .content .subtitle { text-transform: uppercase; font-size: 18px; }
.callout .content .button { left:40px; right:40px; bottom: 20px; display: block; position: absolute; text-align: center; }

/* contact-section */
.contact-section { background: #f8f7f2; border: solid #e1e0d4; border-width: 1px 0; }
.contact-section .contact-grid>[class*=col] { padding: 20px 0 20px 20px; }
.contact-section .contact-grid>.col-2+.col-2 { border-left: 1px solid #e1e0d4; }
.contact-section .h1-style { margin: 0 0 15px; }

.contact-section .body-form { width: 75%; max-width: 500px; }
.contact-section .body-form.full { width: auto; max-width: none; }

.contact-section .contact-grid>.col-2+.col-2>div { padding-left: 40px; }
.contact-section .locations .button { padding: 6px 12px; font-size: 12px; margin-bottom: 5px; }
.contact-section .locations .swiper-wrapper { margin-top: 20px; }
.contact-section .locations .gmap { height: 180px; }

form .forgot { display: inline-block; vertical-align: middle; margin-left: 10px; padding-left: 10px; border-left: 1px solid $green; font-size: 14px; }

/* error page */
.error404 .article-body { width: 700px; max-width: 95%; margin: 0 auto; padding: 40px 0;}
.error404 .body .search-form { display: inline-block; vertical-align: middle; min-width: 60%; }
.error404 .body .search-form input { padding: 11px; }

 .related .blocks { background-color: #f8f7f2; padding: 10px; }
 .related .blocks .block { border-bottom: 1px solid #e7e5db; }