/* nav */

#mobile-nav { display: none; }

.nav { position: absolute; top:0; left:0; right:0; z-index: 10;}
.nav .top { position: absolute; top:0; left:0; right:0; background-color: $topGrey; border-bottom: 3px solid $green; z-index: 10; }
.nav .top .sw { height: 45px; }
.nav .top .lang { position: absolute; top:6px; left:0; }

.nav .top .social { position: absolute; top:0; right:30px; height: 100%;}
.nav .top .social:before {display:  inline-block; content: ""; height:  100%; vertical-align: middle; }
.nav .top .social a { vertical-align: middle; display: inline-block; }

.nav .top .meta-nav { position: absolute; top: 0; right: 110px; bottom:0; }
.nav .top .meta-nav { cursor: default; }
.nav .top .meta-nav a { text-transform: uppercase; color: #bdaea4; display: inline-block; margin-right: -0.25em; font-size: 14px; line-height: 45px; padding: 0 14px; }
.nav .top .meta-nav a:hover { background: #bdaea4; color: #fff;}
.nav .top .meta-nav:after { top: 5px; bottom: 5px; position: absolute; right:-10px; content:""; border-right: 1px solid #bdaea4; }

.nav .search-area { position: absolute; right:0; background: transparent; height: 48px; border: none;}
.nav .search-area>button { top: 50%; position: absolute; margin-top: -10px; right:0;}
.nav .search-form { max-width: none; width: 300px; position: absolute; top: 100%; right: -5px;
	@include transform ( scale( 1, 0) );
	@include transform-origin( center top );
	@include transition ( transform 0.25s $ease-in-back );
}

.no-csstransforms3d .nav .search-form { display: none; }
.no-csstransforms3d .nav .search-area.expanded .search-form { display: block; }

.nav .search-area.expanded>button {
	@extend .sprite.search-hover;
}	
.nav .search-area.expanded .search-form {
	@include transform ( scale( 1, 1) );
	@include transition-timing-function( $ease-out-back );
	
}

.lang a { display: inline-block; padding: 8px; line-height: 1; margin-right: 6px; border-radius: 4px; background: #958a83; color: #cdc4be; text-align: center; width: 32px; }
.lang a.selected,
.lang a:hover { color: #fff; background: #bdaea4;}

nav { position: absolute; top: 231px; left:0; right:0;}
nav.fixed { position: fixed; top:0; background: #fff; background: rgba(255,255,255,0.7); padding-bottom: 1px; }
nav .sw { }
nav .sw>ul { display: table; background: $navGrey; border-collapse: collapse; font-size: 14px; font-family: $semiBoldFontStack;}
nav .sw>ul>li { display: table-cell; border-right: 1px solid #fff; vertical-align: top; }
nav .sw>ul>li:first-child { width: 42px; }
nav .sw>ul>li>a { display: block; text-align: center; color: #fff; text-transform: uppercase; line-height: 42px; padding: 0 12px; }
nav .sw>ul>li:hover>a { background-color: $orange; }
nav a.home { width: 42px; height: 42px !important; font-size: 0; background-color: $green; }
nav a.home:after { position: absolute; top:50%; left:50%; margin: -9px 0 0 -9px; }
nav ul li>div { display: none; position: absolute; top: 42px; left:0; right:0; background: #000; font-family: $defaultFontStack; }
nav li:hover>div { display: block; }
nav ul div ul { background: $orange; width: 260px; padding: 20px 0 20px 20px; position: relative; z-index: 2;}
nav ul div ul li { position: relative; padding-right: 20px; overflow: hidden; left: 20px; margin-left: -10px; }
nav ul div ul a { color: #fff; padding: 6px 28px 6px 8px; display: block; }
nav ul div ul a:after { position: absolute; top:0; right:0; bottom:0; width: 20px; background: url(../images/highlight-triangle.png) right center no-repeat; content:""; display: none;}
nav ul div ul a:hover { background: #e4773b; }
nav ul div ul a:hover:after { display: block; }
nav ul div .swiper-wrapper { position: absolute; top:0; left: 260px; right:0; bottom:0; }
nav ul div .swiper-wrapper .swipe,
nav ul div .swiper-wrapper .swipe-wrap,
nav ul div .swiper-wrapper .swipe-wrap>div { width: 100%; height: 100%; color: #fff; }
nav ul div .swipe .meta { padding:30px; overflow: hidden; height: 100%; background: #70645c url(../images/nav-embellish.png) right bottom no-repeat; }
nav ul div .swipe .img { width: 30%; height: 100%; float: right; background: #fff; background-size: cover; opacity:0; }
nav ul div .swipe .img.loaded { opacity:1;
	@include transition( opacity 0.2s $ease-in-sine );
}

nav .dd-title { color: #fff; font-size: 22px; display: block; margin: 0 0 8px; }


nav .nav-book-appointment { position: absolute; right:0; top:0; }
nav .nav-book-appointment>button { line-height: 42px; font-family: $semiBoldFontStack; padding: 0 12px; }
nav .nav-book-appointment form { position: absolute; right:0; top: 42px; background: $orange; display: none; }
nav .nav-book-appointment.expanded>button { background: $orange; }
nav .nav-book-appointment.expanded form { display: block; }
nav .nav-book-appointment fieldset { padding: 20px; width: 284px; }
nav .nav-book-appointment div { background: rgba(0,0,0,0.2); padding: 10px; color: #fff; text-align: center; }
nav .nav-book-appointment div span { display: inline-block; }
nav .nav-book-appointment div span:first-child { vertical-align: top; font-size: 12px; text-transform: uppercase; }
nav .nav-book-appointment div span+span { font-family: $boldFontStack; font-size: 24px; }