#nav-is-responsive { position: absolute; top:-999px; left: -999px; width:0; height:0; display: none;}

/* responsive grid */
@each $size in 900,850,800,750,700,650,599,500,450 {

	@media screen and (max-width: #{$size}px) {
		.no-#{$size} { display: none !important; }

		.swiper-wrapper.collapse-#{$size} .links,
		.swiper-wrapper.collapse-#{$size} .slider-controls,
		.swiper-wrapper.collapse-#{$size} .swiper-nav-bar { display: none; }
		.swiper-wrapper.collapse-#{$size}>.swipe>.swipe-wrap { display: block; width: 100% !important; }
		.swiper-wrapper.collapse-#{$size}>.swipe>.swipe-wrap>div{ display: block; width: auto !important; float: none !important; left: 0 !important; padding: 0 !important;
			@include transform(none !important);
		}
		.swiper-wrapper.collapse-#{$size}>.swipe>.swipe-wrap>div.ghost { display: none !important; }
		
		.collapse-#{$size}>.col { width: 100%; }
	}
	
}


@media screen and (max-width: 1020px) {
	nav .sw { max-width: 100%; }
	nav .sw > ul { width: 100%; }
	nav .nav-book-appointment { display: none; }
	
	footer .col { border: none; width: 50%; }
}

@media screen and (max-width: 900px) {
	nav ul div .swipe .img { display: none; }
}

@media screen and (max-width: 850px) {
	.contact-grid .col>div { padding-left:0 !important; }
}

/* collapsed nav */
@media screen and (max-width: 800px) {

	.copyright { }
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
	
	/* collapsed sidebar */
	.main-body.with-sidebar { margin-right: 0; float: none; padding: 0 0 20px;}
	.main-body.with-sidebar>div { margin-right:0;}
	.main-body.with-sidebar+.sidebar { float: none; width: auto; padding-right:0;}
	.sidebar .no-collapse { display: none; }
	.article-wrap { padding: 10px 0;}
	
	.sidebar .contact-box { text-align: center; }

	header { height: auto; padding-top: 0;}
	header .header-logo { margin: 15px auto; }
	header .contact-box { position: static; text-align: center; margin: 15px; }

	body { background: #444; border-top: none;}
	
	.page-wrapper { border-top: 3px solid $topGrey; }
	
	.nav { top:0 !important; border: none; overflow-y: scroll; overflow-x: hidden;  width: 240px; z-index: 1; max-width: 100%; margin:0; border: none; height: 100%; }
	.nav-inner-wrap { position: absolute; top:0; left:0; right:0; bottom: -1px; padding-top: 32px; }
	.ios .nav-inner-wrap { overflow-y: scroll; overflow-x: hidden; }
	.ios .nav,
	.ios .nav-inner-wrap { -webkit-overflow-scrolling: touch; }
	.nav .search-area { position: absolute; width: auto; left:0; top:0; display: block !important; height: auto; }
	.nav .search-area > button { display: none; }
	.nav .search-form { right:0; top:0; width: auto; left:0;
		@include transform( none );
	}
	
	.nav .top .sw { max-width: 100%; }
	.nav .top .sw,
	.nav .top .lang,
	.nav .top .meta-nav,
	.nav .top .social { position: static; }
	
	.nav .top .sw { height: auto; }
	
	.nav .top { border: none; position: static; }
	.nav .top .lang { text-align: center; padding: 10px 0; }
	.nav .top .meta-nav a { display: block; line-height: 1; padding: 6px; }
	.nav .top .social { padding: 10px 0; }

	nav { position: static !important; }
	nav>.sw>ul,
	nav>.sw>ul>li { display: block; border: none;}
	nav>.sw>ul>li:first-child { display: none; }
	nav>.sw>ul>li>a { color: #fff; text-align: left; padding: 8px; border-bottom: 1px solid #999; line-height: 1;}
	nav>.sw>ul>li:hover>a { background: transparent; }
	nav>.sw>ul>li>a:hover { background:#444}
	nav>.sw>ul>li>div { position: static; display: block; border: none; box-shadow: inset 0 4px 4px rgba(0,0,0,0.4); background: #111; padding:0; border-bottom: 1px solid #999; }
	nav div.swiper-wrapper { display: none; }
	nav ul div ul { width: auto; padding:0; }
	nav ul div ul li { margin:0; left:0; padding:0;}
	
	#mobile-nav { display: block; position: absolute; top: 18px; left: 10px; background:rgba(255,255,255,0.5); width: 38px; padding: 32px 0 0; z-index: 21; outline: none;}
	
	.page-wrapper { overflow: hidden; position: relative; z-index: 20; background-color: #fff; }
	
	#mobile-nav,
	.page-wrapper {
		@include transition( transform 0.4s $ease-in-back );	
	}
	
	.show-nav .page-wrapper { position: fixed; left: 0; top:0; box-shadow: 0 -4px 12px rgba(0,0,0,0.8); z-index: 20; overflow: hidden; }
	
	.show-nav #mobile-nav,
	.show-nav .page-wrapper {
		@include transition-timing-function( $ease-out-back );
		@include transform( translate3d(240px,0,0) );
	}
	
	.android .page-wrapper,
	.no-csstransforms .page-wrapper { overflow: hidden; position: relative; z-index: 20; left:0;
		@include transition( left 0.25s $ease-in-out-back );
	}
	
	.android .show-nav .page-wrapper,
	.no-csstransforms .show-nav .page-wrapper { left: 240px; position: fixed;
		@include transform( none );
	}
	.csstransforms .animating .page-wrapper { position: fixed !important; }
	
	.blocks .block-col { width: 50%; }
	
	.hero,
	.hero.single { height: 0; padding: 37.5% 0 0; overflow: hidden; }
	.hero .slider-controls { bottom: 5px; }
	.hero .text .title { font-size: 28px; }
	.hero .text .sub { font-size: 20px; }
	.hero .links { display: none; }
	
}

@media screen and (max-width: 750px) {
	/* collapse all swipers below 750 */
	.action-bar .controls { display: none !important; }
}

@media screen and (max-width: 700px) {
	footer .col { width: 100%; max-width: 100% !important;}
	footer .address-block address,
	footer .address-block .phones { text-align: left; width: 100%; float: none; }
	
	.contact-box .phone { margin:0; border: none; }
	.contact-box .button { display: none; }
	
	.how-can-we-help .tabs,
	.how-can-we-help .tab-swiper .content p { display: none; }
	.how-can-we-help .swiper-wrapper { margin-top: 15px; }
	.how-can-we-help .swipe-wrap>div { height: 100%; }
	.how-can-we-help .tab-swiper .content { padding: 15px 0;}
	.how-can-we-help .tab-swiper .content .tab-title { display: block; margin: 0 0 10px; }
	.how-can-we-help .buttons .button .sprite-after { width: 60px; height: 60px; }
	
	.how-can-we-help .h1-style { text-align: center; }
	.how-can-we-help .toggle.button { position: relative; display: block; width: 180px; margin: 10px auto; }
	
}

@media screen and (max-width: 650px) {

	.blocks.list-view .block .img-wrap,
	.blocks.list-view .block .bubble-wrap { display: none; }

	.blocks.list-view .block .img-wrap~div,
	.blocks.list-view .block .bubble-wrap~div { margin-left:0; }
	
	.blocks .action-bar .search-form { float: none; margin-bottom:15px; }
	.action-bar .selector { float: none; width: 100%; }
	.contact-section .body-form { max-width: none; width: auto; }
}

@media screen and (max-width: 500px) {

	.footer-nav li { float: none; width: auto; }

	/* breadcrumbs */
	.breadcrumbs a { display: block; }
	.breadcrumbs a:first-child { display: none; }
	.breadcrumbs a:before { display: none; }
	
	#jac { position: relative; display: inline-block; right:0; margin: 10px 0 0;}

	.header-logo { width: 200px; padding-top: 63px; }
	
	.hero .slider-controls { display: none; }
	.error404 .body .search-form { width: 100%; margin-bottom: 15px; }
}
