/* social */
.social { text-align: center; cursor: default;}
.social .sprite { display: inline-block; margin: 0 3px; }

@each $ico in fb,tw,search {
	
	.sprite.#{$ico} {
		@extend .sprite.#{$ico};
	}
	
	.sprite.#{$ico}:hover {
		@extend .sprite.#{$ico}-hover;
	}
	
}